{% extends "layouts/master.html" %}

{% set title = "Page 1" %}

{% block content %}

<h1>Another page</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra risus eu mattis sagittis. Sed aliquet non leo
    in hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sit
    amet tellus sed velit dictum sagittis. Duis porta leo quis volutpat condimentum. Nunc pellentesque nisi ac magna
    vestibulum, id vehicula lorem egestas. Duis efficitur nisl urna, sit amet maximus libero dignissim in.
</p>

{% endblock %}
